@import url('../css/style.css');

body {
    background-color: var(--color-light-100); /* Mesma cor de fundo que estamos usando */
}

/* Estilo geral da seção de redefinição de senha */
.reset-password-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-password-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-color: white; /* Cor de fundo semelhante à usada nas caixas amarelas */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Coluna da imagem */
.reset-password-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-100); /* Cor verde da paleta */
}

.reset-password-image img {
    width: 80%;
    max-width: 300px;
}

/* Coluna do formulário */
.reset-password-form {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white; /* Fundo amarelo claro */
}

.reset-password-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4A4A4A;
    font-weight: bold;
}

.reset-password-form p {
    margin-bottom: 20px;
    color: #4A4A4A;
}

.reset-password-form label {
    font-size: 14px;
    color: #4A4A4A;
}

.reset-password-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #A8CCC9; /* Cor verde clara da paleta */
    border-radius: 8px;
    font-size: 14px;
}

.reset-password-form button {
    width: 100%;
    padding: 12px;
    background-color: var(--color-blue-100); /* Cor verde escura */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.reset-password-form button:hover {
    background-color: #669996;
}

.reset-password-form .back-to-login {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #4A4A4A;
    text-decoration: none;
}

.reset-password-form .back-to-login:hover {
    text-decoration: underline;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .reset-password-container {
        flex-direction: column;
        width: 90%;
    }

    .reset-password-image {
        width: 100%;
        padding: 20px;
    }

    .reset-password-form {
        width: 100%;
        padding: 20px;
    }
}
