@import url('../css/style.css');

body {
    background-color: var(--color-light-100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    background-color: var(--color-light-50);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

aside {
    width: 60%;
    background-color: var(--color-blue-100);
    display: flex;
    justify-content: center;
}

aside img {
    max-width: 70%;
}

main {
    width: 60%;
    padding: 60px 40px 40px;
    background-color: var(--color-light-50);
}

h1 {
    font-size: 2.0rem;
    margin-bottom: 80px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-box {
    flex: 1;
    min-width: 220px;
}

label {
    font-size: 14px;
    color: var(--color-dark-50);
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color-light-150);
    border-radius: 8px;
    margin-bottom: 16px;
    margin-top: 8px;
    font-size: 14px;
    color: var(--color-dark-100);
    background-color: #f9f9f9;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-blue-100);
    color: white;
    margin-top: 60px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    scale: 1.02;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: 200px;
    }

    main {
        width: 100%;
        padding: 20px;
    }
}

/* Estilos para mensagens de sucesso e erro */
.message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    font-weight: bold;
    width: 80%;
    max-width: 500px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}