body {
	margin: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
	background-color: #c2e9c3;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}

.image-container {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.image-container img {
	width: 100%;
	height: auto;
}

.image-container-ind {
	width: 40%;
}


.image-container-ind img {
	width: 100%;
	height: auto;
}

.image-container-pf {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.image-container-pf img {
	width: 70%;
	height: auto;

}

.login-container {
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
	background-color: #c2e9c3;
}

.login-container h1 {
	text-align: left;
	font-size: 2rem;
	margin-bottom: 20px;
}

.login-container label {
	display: block;
	margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
	width: 570px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
}

.login-container button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	margin-bottom: 10px;
}

.login-container button[type="submit"]:hover {
	background-color: #7abb78;
}

.login-container button[type="button"] {
	width: 100%;
	padding: 10px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}

.login-container button[type="button"]:hover {
	background-color: #7abb78;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	.login-container {
		margin-top: 20px;
	}

	.image-container {
		height: 300px;
	}
}

a {
	text-decoration: none;
	color: #45a049;
}

select {
	margin-bottom: 20px;
	border-radius: 20px;
	background-color: #45a049;
	color: #fff;
	width: 150px;
}

.perfil {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 20px 0px;
	background-color: #f9f9f9;
}

h1 {
	text-align: center;
}

.info {
	margin-bottom: 20px;
}

.info p {
	margin: 5px 0;
}

.options {
	text-align: center;
}

.options a {
	display: inline-block;
	margin: 0 10px;
	padding: 8px 16px;
	text-decoration: none;
	color: #fff;
	background-color: #4CAF50;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.options a:hover {
	background-color: #7abb78;
}

.address-line-1,
.address-line-2,
.address-line-3
 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
}


.address-line-1 label,
.address-line-2 label,
.address-line-3 label {
    width: 110px; 
    display: inline-block;
    margin-bottom: 5px;
}

.address-line-1 input[type="text"],
.address-line-2 input[type="text"],
.address-line-3 input[type="text"],
.address-line-1 select,
.address-line-2 select {
    width: calc(50% - 60px); 
    box-sizing: border-box;
    margin-bottom: 5px;
}

form {
    width: 590px; 
}

input[type="text"], select{
	width: 100%;
}

/* listagem_industia.html */

.listagem_industria {
	margin-top:20px;
	margin-left: 20px;
}

.listagem_industria_lista {
	max-width: 300px;
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px 0px;
	background-color: #f9f9f9;
}

/* chat.html */

.tela_chat {
	max-width: 450px;
	margin: 50px auto;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px 0px;
	background-color: #f9f9f9;
}

/* configuracoes.html */

.config {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 20px 0px;
	background-color: #f9f9f9;
}

.config p {
	display: inline-block;
}

/* cadastro_material.html */

.cadastro_material {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 20px 0px;
	background-color: #f9f9f9;
}
