@import url('../css/style.css');

body {
    background-color: var(--color-light-100); /* Mesma cor de fundo usada nas outras telas */
}

/* Estilo geral da seção de atualização de senha */
.update-password-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.update-password-container {
    display: flex;
    width: 50%;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

/* Estilo do formulário */
.update-password-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.update-password-form h2 {
    font-size: 24px;
    margin-bottom: 40px;
    color: #4A4A4A;
    font-weight: bold;
}

.update-password-form p {
    margin-bottom: 40px;
    color: #4A4A4A;
}

.update-password-form label {
    font-size: 14px;
    color: #4A4A4A;
}

.update-password-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #A8CCC9; /* Cor verde clara da paleta */
    border-radius: 8px;
    font-size: 14px;
}

.update-password-form a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    padding: 12px;
    background-color: var(--color-blue-100); /* Cor verde escura da paleta */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.update-password-form a:hover {
    background-color: #669996;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .update-password-container {
        width: 90%;
        padding: 20px;
    }

    .update-password-form {
        padding: 10px;
    }
}
