#container_login {
    width: 60%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.form-image-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green-50);
    padding: 1rem;
    border-radius: 8px 0 0 8px;
}

.form-image-login img {
    width: 25rem;
}

#login_form {
    width: 40%;
    background-color: var(--color-light-50);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px 40px;
    gap: 30px;
    animation: dark-to-light 0.3s ease;
    border-radius: 0 8px 8px 0;
}

#form_header_login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header_login h1 {
    font-size: 40px;
    position: relative;
}

#form_header_login h1::before {
    content: '';
    position: absolute;
    width: 40%;
    background-color: var(--color-green-50);
    height: 3px;
    bottom: 10px;
    border-radius: 5px;
}

#input_group_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box-login label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-field-login {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-green-50);
}

.input-field-login i {
    font-size: 18px;
    color: var(--color-dark-900);
}

.input-field-login input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field-login input:focus {
    outline: none;
}


#forgot_password a {
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-50);
}

#forgot_password a:hover {
    color: var(--color-green-50);
}

#sign_up a {
    display: flex;
    justify-content: end;
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-50);
}

#sign_up a:hover {
    color: var(--color-green-50);
}

#green {
    color: var(--color-green-200);
}

#login_button {
    border: none;
    background: var(--color-green-200);
    color: var(--color-light-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#login_button:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    #container {
        width: 50%;
    }

    #login_form {
        width: 100%;
        border-radius: 8px;
    }
}