#container_sign_up {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.form-image-sign-up {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green-50);
    padding: 1rem;
    border-radius: 8px 0 0 8px;
}

.form-image-sign-up img {
    width: 25rem;
}

#sign_up_form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-light-50);
    padding: 3rem;
    border-radius: 0 8px 8px 0;
}

#form_header_sign_up {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}


#form_header_sign_up h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--color-green-50);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

#input_group_sign_up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 0;
}

.input-box-sign-up {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box-sign-up input {
    width: 120%;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box-sign-up input:hover {
    background-color: #eeeeee75;
}

.input-box-sign-up input:focus-visible {
    outline: 1px solid var(--color-green-50);
}

.input-box-sign-up label,
.user-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.user-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0.05rem;
}

.user-input {
    display: flex;
    align-items: center;
}

.user-input input {
    margin-right: 0.35rem;
}

.user-input label {
    margin-right: 0.35rem;
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

#sign_up_button {
    width: 80%;
    margin-top: 20px;
    border: none;
    background: var(--color-green-200);
    color: var(--color-light-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#sign_up_button:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1330px) {
    .form-image-sign-up {
        display: none;
    }

    #container_sign_up {
        width: 50%;
    }

    #sign_up_form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    #container_sign_up {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .user-inputs {
        margin-top: 2rem;
    }

    .user-group {
        flex-direction: column;
    }

    .user-input {
        margin-top: 0.5rem;
    }
}